*{
  margin: 0;
  padding: 0;
}
html,body{
  font-size: 18px;
  background-color: #f5f6f7;
}
h1{
  max-width: 940px;
  text-align: center;
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px,0;
  margin-bottom: 15px;
}
p{
  text-align: center;
  font-size: 1.3em;
  font-family: sans-serif;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contenedor principal{
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer {
  background-color: white
  
}
.nav-item{
  
}

.footer {
  background-color: #ffffff; /* Color de fondo del footer */
  color: rgb(12, 11, 11); /* Color del texto */
  /* position: fixed; /* Fijar el footer en la parte inferior de la página */
  left: 0;
  bottom: 0;
  width: 100%; /* Ancho completo */
  text-align: center; /* Centrar el texto */
 }
 
 .nav-item {
  margin: 0 10px; /* Espaciado entre los elementos de la lista */
 }
 
 .nav-link {
  color: rgb(0, 0, 0); /* Color del enlace */
  text-decoration: none; /* Quitar subrayado */
 }
 
 .nav-link:hover {
  color: #000000; /* Cambiar el color al pasar el mouse */
 }
